<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meme tags unsigned</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<base href = '/'>
 <script>
 $(document).ready(function(){
    $('.materialboxed').materialbox();
  });   
 </script>
    
  <style>
    .main-header {
      color: #e6e6e6;
    }

    .memeframe {
      max-height: 420px;
      max-width: 80%;
      align-content: center;
      margin: auto;
    }

    .memecontainer {
      max-height: 425px;
      max-width: 70%;
      margin: auto;
    }

    .meme {
      max-height: 400px;
      min-height: 100%;
      max-width: 70%;
      min-width: 100%;
    }

    .panel {
      width: 100%;
      min-height: 300px;
    }

    .panel-group {
      margin: auto;
    }

    .panel-body {
      align-content: center;
      justify-content: center;
      padding: 2px;
      height: 100%;
      max-height: 450px;
      position: relative;
    }

    .panel-heading {
      size: 20%;
      height: 80px;
    }

    .likes-span {
      float: right;
    }

    .glyphicon-thumbs-up {
      height: 40px;
      width: 40px;
      background-color: transparent;
    }

    .upvotes-tally {
      float: right;
      color: grey;
    }
    .panel-footer {
      position: absolute;
      bottom: 0;
      height: 25px;
      width: 99%;
      max-height: 50px;
      padding: 0px;
    }
    .header-stuff {
      float: right;

    }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .jumbotron {
      color: white;
      background-color: rebeccapurple;
    }

    body {
      background-color:#404040;
      padding-top: 70px;
      color:antiquewhite;
    }
      
      li{
          list-style-type:none;
      }
      
      .img{
          margin-bottom: 10px;
      }
      .btn-mar{
          margin-bottom: 10px;
      }
      
        body {
      background-color: #404040;
      padding-top: 70px;
        background-image: url("./background.jpg");
      }
  </style>
    
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar">potato</span>
        <span class="icon-bar">tomato</span>
        <span class="icon-bar">asdf</span>                        
      </button>
      <div>
        <a class="navbar-brand" href="/main-postLogin"><img src="./HMMMmmmmMMMMmmmm.png" class="img-responsive" width="35px" height="35px"></a>
      </div>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="./about-page">About</a></li>
      </ul>
      <form  action = '/meme-tagsDefault' class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Tags..">
        </div>
        <input type="submit" class="btn btn-default" name='submit' value='Search' >
        <span class="glyphicon glyphicon-search"></span>
      </form>
    </div>
  </div>
</nav>
    
    <!-- Modal -->
<div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px; color: black; font-weight: bold;">
          <button type="button" class="close" data-dismiss="modal" style="size: 30px;">&times;</button>
          <div style="background: white; border: solid; padding: 10px 20px;"><h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
           <p> Connect with the following sites: </p></div>
           <span><a href="https://www.facebook.com/"><img src="./fb.png" class="img-rounded" width="50px" height="50px"></a></span> 
            <span> <a href="https://accounts.google.com/ServiceLogin/signinchooser?elo=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><img src="./Google.png" class="img-rounded" width="50px" height="50px"></a></span> 
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form action = 'main-postLogin' method="post" role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" name = 'username' placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="psw" name = 'password' placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <input type="submit" class="btn btn-success btn-block" name= 'login' value = 'login' style="background-color: skyblue">
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="/sign-up">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
      
    </div>
  </div> 

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!-- <p><a href="#">Hot</a></p>
      <p><a href="#">Random</a></p>
      <p><a href="#">Favorites</a></p> -->
    </div>
    <div class="col-sm-8 text-left"> 
      <div class="main-header " style="font-style: italic; font-weight: bold;">
      <h1 style="font-size: 70px;">MEME FACTORY</h1>
      <table>
        <tr>
          <td>
            <div style="font-size: 30px; width: 500px;">~Tags Result: <%=tag%> 
            </div>
          </td>
        
        <td>
          <span>
          <img src="./datboi.gif" width="100px" height="100px" style="margin-left: 200px;">
          </span>
        </td>
      </tr>
        
      </table>
      

      <hr>
      </div>
      
      <!-- <h3>Test</h3>
      <p>Lorem ipsum...</p> -->
      
    </div> 
  </div>
  <div class="container bg-3" style="width: 1500px;">
    
      <% var j = 0; %>
      <% while(data.list[j] != null){ %>
      <div class="row" style="margin: auto;">
        <% for(var i = j;i < j+3 && data.list[i] != null;i++){ %>
        <div class="col-sm-4 text-left" >
        <div class="panel panel-default" style="height: 530px;">
          <div class="panel-heading">
            <span class="lead" style="font-size: 25px; font-weight: bold;">
              <%= data.list[i].memeTitle %>
            </span>
            <span class="likes-span">
              <button class="glyphicon glyphicon-thumbs-up"></button><br>
              <div class="upvotes-tally">Likes: 0</div>
            </span>

            <br>
            <a href="/other-page/<%= data.list[i].memeOwner %>"> Posted by : <%= data.list[i].memeOwner %> </a>
            <span>
              <a href="/meme-tagsDefaultMeme/<%= data.list[i].memeTag %>" type="button" class="btn-link">Tags: <%= data.list[i].memeTag %></a>  
            </span> 
            
          </div>
          <div class="panel-body">
            <div class="memeframe">
              <div class="memecontainer materialboxed"><img src="/memes/<%= data.list[i].memeimage %>"  class="meme">
              </div>
              
            </div>
            <div class="panel-footer" >
              <a href="/view-meme/<%= data.list[i].memeTitle %>" type = "button" class = "btn btn-warning btn-xs btn-block" style="background-color: purple;" >View</a>
            </div>
          </div>

        </div>
        </div>
        <% console.log("i: "+i) %>
        <% } %> 
      </div>
      <% j = j + 3; %>
      <% console.log("j: "+j) %>
      <% } %>
    </div>
<!--
  	<div class="container-fluid" style="float: right;">
  	<table>
  		<tr>
  		<td>
  			<ul class="pagination">
			    <li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			</ul>
  		</td>
  		<td>
  			<ul class="pager">
			  <li><a href="#">Previous</a></li>
			  <li><a href="#">Next</a></li>
			</ul>
  		</td>
  		
  		</tr>
  	</table>
	  
	</div>
-->
</div>
</body>
</html>
